src/EacToolkit/Services/eac.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="endeca.wsdl"
             targetNamespace="http://www.endeca.com/EAC/Nov2006"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.endeca.com/EAC/Nov2006"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://www.endeca.com/EAC/Nov2006"
            xmlns="http://www.w3.org/2001/XMLSchema">

      <!-- General Types -->
      <simpleType name="IDType">
        <restriction base="string" />
      </simpleType>

      <complexType name="ScriptType">
        <sequence>
          <element name="scriptID" type="tns:IDType" minOccurs="1" maxOccurs="1" />
          <element name="cmd" type="string" minOccurs="1" maxOccurs="1" />
          <element name="workingDir" type="string" minOccurs="0" maxOccurs="1" />
          <element name="logFile" type="string" minOccurs="0" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="ScriptListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="script" type="tns:ScriptType" />
        </sequence>
      </complexType>

      <complexType name="PropertyType">
        <sequence>
          <element name="name" type="string" minOccurs="1" maxOccurs="1" />
          <element name="value" type="string" minOccurs="0" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="PropertyListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="property" type="tns:PropertyType" />
        </sequence>
      </complexType>

      <complexType name="DirectoryType">
        <sequence>
          <element name="dirID" type="string" minOccurs="1" maxOccurs="1" />
          <element name="dir" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="DirectoryListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="directory" type="tns:DirectoryType" />
        </sequence>
      </complexType>

      <complexType name="HostType">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="hostname"
                   type="string" />
          <element minOccurs="1" maxOccurs="1" name="port"
                   type="tns:PortNumber" />
          <element minOccurs="0" maxOccurs="1" name="hostID"
                   type="tns:IDType" />
          <element minOccurs="0" maxOccurs="1" name="properties"
                   type="tns:PropertyListType" />
          <element minOccurs="0" maxOccurs="1" name="directories"
                   type="tns:DirectoryListType" />
        </sequence>
      </complexType>

      <complexType name="HostListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="host" type="tns:HostType" />
        </sequence>
      </complexType>

      <complexType name="FullyQualifiedComponentIDType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="componentID" type="tns:IDType" />
        </sequence>
      </complexType>

      <complexType name="FullyQualifiedScriptIDType">
        <sequence>
          <element name="applicationID" type="tns:IDType"
                   minOccurs="1" maxOccurs="1" />
          <element name="scriptID" type="tns:IDType"
                   minOccurs="1" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="FullyQualifiedHostIDType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="hostID" type="tns:IDType" />
        </sequence>
      </complexType>


      <simpleType name="StateType">
        <restriction base="string">
          <enumeration value="Starting" />
          <enumeration value="Running" />
          <enumeration value="NotRunning" />
          <enumeration value="Failed" />
        </restriction>
      </simpleType>

      <complexType name="StatusType">
        <sequence>
          <element maxOccurs="1" minOccurs="1"
                   name="state" type="tns:StateType" />
          <element maxOccurs="1" minOccurs="1"
                   name="startTime" type="dateTime" />
          <element minOccurs="0" maxOccurs="1"
                   name="failureMessage" type="string" />
        </sequence>
      </complexType>

      <element name="componentStatus"
               type="tns:StatusType" />
      <element name="scriptStatus"
               type="tns:StatusType" />
      <element name="token"
               type="tns:TokenType" />
      <element name="status" type="string" />

      <element name="boolean" type="boolean" />

      <complexType name="ProvisioningMessageType">
        <sequence>
          <element maxOccurs="1" minOccurs="1"
                   name="message" type="string" />
        </sequence>
      </complexType>

      <complexType name="ProvisioningErrorType">
        <complexContent>
          <extension base="tns:ProvisioningMessageType">
            <sequence />
          </extension>
        </complexContent>
      </complexType>

      <complexType name="ProvisioningWarningType">
        <complexContent>
          <extension base="tns:ProvisioningMessageType">
            <sequence />
          </extension>
        </complexContent>
      </complexType>

      <complexType name="ProvisioningWarningListType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded"
                   name="warning" type="tns:ProvisioningWarningType" />
        </sequence>
      </complexType>

      <element name="provisioningWarningList" type="tns:ProvisioningWarningListType" />

      <complexType name="EACFault" />

      <element name="eacFault" type="tns:EACFault" />

      <complexType name="ProvisioningFault">
        <complexContent>
          <extension base="tns:EACFault">
            <sequence>
              <element name="errors" type="tns:ProvisioningErrorType" minOccurs="0" maxOccurs="unbounded" />
              <element name="warnings" type="tns:ProvisioningWarningType" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="provisioningFault" type="tns:ProvisioningFault" />


      <complexType name="ServerStatusType">
        <complexContent>
          <extension base="tns:StatusType">
          </extension>
        </complexContent>
      </complexType>

      <complexType name="BatchStatusType">
        <complexContent>
          <extension base="tns:StatusType">
            <sequence>
              <element maxOccurs="1" minOccurs="1"
                       name="duration" type="duration" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <!-- Provisioning & App Definition Types -->

      <complexType name="ApplicationIDListType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded"
                   name="applicationID" type="tns:IDType" />
        </sequence>
      </complexType>

      <complexType name="ApplicationType">
        <sequence>
          <element name="applicationID"
                   type="tns:IDType" />
          <element name="hosts" type="tns:HostListType"
                   minOccurs="0" maxOccurs="1" />
          <element name="components" type="tns:ComponentListType"
                   minOccurs="0" maxOccurs="1" />
          <element name="scripts" type="tns:ScriptListType"
                   minOccurs="0" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="AddHostType">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="applicationID"
                   type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1" name="host"
                   type="tns:HostType" />
        </sequence>
      </complexType>

      <complexType name="AddComponentType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="component" type="tns:ComponentType" />
        </sequence>
      </complexType>

      <complexType name="AddScriptType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="script" type="tns:ScriptType" />
        </sequence>
      </complexType>

      <complexType name="UpdateHostType">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="applicationID"
                   type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1" name="host"
                   type="tns:HostType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceUpdate" type="boolean" />
        </sequence>
      </complexType>

      <complexType name="UpdateComponentType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="component" type="tns:ComponentType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceUpdate" type="boolean" />
        </sequence>
      </complexType>

      <complexType name="UpdateScriptType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="script" type="tns:ScriptType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceUpdate" type="boolean" />
        </sequence>
      </complexType>

      <complexType name="RemoveApplicationType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceRemove" type="boolean" />
        </sequence>
      </complexType>

      <complexType name="RemoveHostType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="host" type="tns:FullyQualifiedHostIDType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceRemove" type="boolean" />
        </sequence>
      </complexType>

      <complexType name="RemoveComponentType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="component" type="tns:FullyQualifiedComponentIDType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceRemove" type="boolean" />
        </sequence>
      </complexType>

      <complexType name="RemoveScriptType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="scriptID" type="tns:IDType" />
          <element minOccurs="0" maxOccurs="1"
                   name="forceRemove" type="boolean" />
        </sequence>
      </complexType>

      <simpleType name="PortNumber">
        <restriction base="int">
          <minInclusive value="1" />
          <maxExclusive value="65536" />
        </restriction>
      </simpleType>

      <simpleType name="TimeOut">
        <restriction base="long">
          <minInclusive value="1" />
        </restriction>
      </simpleType>

      <complexType name="ComponentType">
        <sequence>
          <element name="componentID" type="tns:IDType" minOccurs="1" maxOccurs="1" />
          <element name="hostID" type="tns:IDType" minOccurs="1" maxOccurs="1" />
          <element name="workingDir" type="string" minOccurs="0" maxOccurs="1" />
          <element name="logFile" type="string" minOccurs="0" maxOccurs="1" />
          <element name="properties" type="tns:PropertyListType" minOccurs="0" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="ArgListType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded"
                   name="arg" type="string" />
        </sequence>
      </complexType>

      <complexType name="JavaOptionListType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded"
                   name="javaOption" type="string" />
        </sequence>
      </complexType>

      <complexType name="ClasspathType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded"
                   name="classpathElement" type="string" />
        </sequence>
      </complexType>

      <complexType name="SSLConfigurationType">
        <sequence>
          <element name="certFile" type="string" minOccurs="1" maxOccurs="1" />
          <element name="caFile" type="string" minOccurs="1" maxOccurs="1" />
          <element name="cipher" type="string" minOccurs="0" maxOccurs="1" />
        </sequence>
      </complexType>

      <complexType name="DgraphComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="port" type="tns:PortNumber"
                       minOccurs="1" maxOccurs="1" />
              <element name="inputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="appConfigPrefix" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="reqLogFile" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="spellDir" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="startupTimeout"
                       type="tns:TimeOut" minOccurs="0" maxOccurs="1" />
              <element name="sslConfiguration" type="tns:SSLConfigurationType"
                       minOccurs="0" maxOccurs="1" />
              <element name="updateDir" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="updateLogFile" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="tempDir" type="string"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="AgraphChildType" />

      <complexType name="DgraphHostPortType">
        <complexContent>
          <extension base="tns:AgraphChildType">
            <sequence>
              <element name="hostname" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="port" type="tns:PortNumber"
                       minOccurs="1" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="DgraphReferenceType">
        <complexContent>
          <extension base="tns:AgraphChildType">
            <sequence>
              <element name="componentID" type="tns:IDType"
                       minOccurs="1" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="AgraphChildListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="child" type="tns:AgraphChildType" />
        </sequence>
      </complexType>

      <complexType name="AgraphComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="port" type="tns:PortNumber"
                       minOccurs="1" maxOccurs="1" />
              <element name="appConfigPrefix" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="reqLogFile" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="children"
                       type="tns:AgraphChildListType" minOccurs="1" maxOccurs="1" />
              <element name="inputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="startupTimeout"
                       type="tns:TimeOut" minOccurs="0" maxOccurs="1" />
              <element name="sslConfiguration" type="tns:SSLConfigurationType"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="LogServerComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="port" type="tns:PortNumber"
                       minOccurs="1" maxOccurs="1" />
              <element name="outputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="gzip" type="boolean"
                       minOccurs="1" maxOccurs="1" />
              <element name="startupTimeout"
                       type="tns:TimeOut" minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="ForgeComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="stateDir" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="inputDir" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="outputDir" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="numPartitions" type="int"
                       minOccurs="0" maxOccurs="1" />
              <element name="pipelineFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="outputPrefixName" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="tempDir" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="webServicePort" type="tns:PortNumber"
                       minOccurs="0" maxOccurs="1" />
              <element name="sslConfiguration" type="tns:SSLConfigurationType"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="DgidxComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="appConfigPrefix" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="inputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="outputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="runAspell" type="boolean"
                       minOccurs="0" maxOccurs="1" />
              <element name="tempDir" type="string"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="InputPrefixListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="inputPrefix" type="string" />
        </sequence>
      </complexType>

      <complexType name="AgidxComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="previousAgidxOutputPrefix"
                       type="string" minOccurs="0" maxOccurs="1" />
              <element name="inputPrefixList"
                       type="tns:InputPrefixListType" minOccurs="1" maxOccurs="1" />
              <element name="outputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="CrawlerComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="javaOptions" type="tns:JavaOptionListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="classpath" type="tns:ClasspathType"
                       minOccurs="0" maxOccurs="1" />
              <element name="defaultSettingsFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="globalConfigFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="profileConfigFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="urlListFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="outputPrefix" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="port" type="tns:PortNumber"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="TimeRangeType">
        <restriction base="string">
          <enumeration value="Yesterday" />
          <enumeration value="LastWeek" />
          <enumeration value="LastMonth" />
          <enumeration value="DaySoFar" />
          <enumeration value="WeekSoFar" />
          <enumeration value="MonthSoFar" />
        </restriction>
      </simpleType>

      <simpleType name="TimeSeriesType">
        <restriction base="string">
          <enumeration value="Hourly" />
          <enumeration value="Daily" />
        </restriction>
      </simpleType>

      <complexType name="ReportGeneratorComponentType">
        <complexContent>
          <extension base="tns:ComponentType">
            <sequence>
              <element name="args" type="tns:ArgListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="javaBinary" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="javaOptions" type="tns:JavaOptionListType"
                       minOccurs="0" maxOccurs="1" />
              <element name="inputDirOrFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="outputFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="stylesheetFile" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="settingsFile" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="timerange" type="tns:TimeRangeType"
                       minOccurs="0" maxOccurs="1" />
              <element name="startDate" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="stopDate" type="string"
                       minOccurs="0" maxOccurs="1" />
              <element name="timeSeries" type="tns:TimeSeriesType"
                       minOccurs="0" maxOccurs="1" />
              <element name="charts" type="boolean"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="ComponentListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="component" type="tns:ComponentType" />
        </sequence>
      </complexType>

      <element name="application"
               type="tns:ApplicationType" />
      <element name="applicationIDList"
               type="tns:ApplicationIDListType" />

      <!-- Utility Types -->
      <simpleType name="TokenType">
        <restriction base="string" />
      </simpleType>

      <simpleType name="BackupMethodType">
        <restriction base="string">
          <enumeration value="Move" />
          <enumeration value="Copy" />
        </restriction>
      </simpleType>

      <complexType name="FullyQualifiedUtilityTokenType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="token" type="tns:TokenType" />
        </sequence>
      </complexType>

      <complexType name="RunUtilityType">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="applicationID" type="tns:IDType" />
          <element minOccurs="0" maxOccurs="1" name="token" type="tns:TokenType" />
        </sequence>
      </complexType>

      <complexType name="RunShellType">
        <complexContent>
          <extension base="tns:RunUtilityType">
            <sequence>
              <element minOccurs="1" maxOccurs="1"
                       name="hostID" type="tns:IDType" />
              <element name="cmd" type="string"
                       minOccurs="1" maxOccurs="1" />
              <element name="workingDir" type="string"
                       minOccurs="0" maxOccurs="1" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="RunFileCopyType">
        <complexContent>
          <extension base="tns:RunUtilityType">
            <sequence>
              <element minOccurs="1" maxOccurs="1"
                       name="fromHostID" type="tns:IDType" />
              <element minOccurs="1" maxOccurs="1"
                       name="toHostID" type="tns:IDType" />
              <element minOccurs="1" maxOccurs="1"
                       name="sourcePath" type="string" />
              <element minOccurs="1" maxOccurs="1"
                       name="destinationPath" type="string" />
              <element minOccurs="0" maxOccurs="1"
                       name="recursive" type="boolean" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="RunBackupType">
        <complexContent>
          <extension base="tns:RunUtilityType">
            <sequence>
              <element minOccurs="1" maxOccurs="1"
                       name="hostID" type="tns:IDType" />
              <element minOccurs="1" maxOccurs="1"
                       name="dirName" type="string" />
              <element minOccurs="0" maxOccurs="1"
                       name="backupMethod" type="tns:BackupMethodType" />
              <element minOccurs="0" maxOccurs="1"
                       name="numBackups" type="int" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="RunRollbackType">
        <complexContent>
          <extension base="tns:RunUtilityType">
            <sequence>
              <element minOccurs="1" maxOccurs="1"
                       name="hostID" type="tns:IDType" />
              <element minOccurs="1" maxOccurs="1"
                       name="dirName" type="string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="ListDirectoryContentsInputType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="hostID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="filePattern" type="string" />
        </sequence>
      </complexType>

      <complexType name="FilePathListType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded"
                   name="filePath" type="tns:FilePathType" />
        </sequence>
      </complexType>

      <complexType name="FilePathType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="path" type="string" />
          <element minOccurs="1" maxOccurs="1"
                   name="directory" type="boolean" />
        </sequence>
      </complexType>

      <!-- Synchronization Types -->

      <complexType name="FullyQualifiedFlagIDType">
        <sequence>
          <element minOccurs="1" maxOccurs="1"
                   name="applicationID" type="tns:IDType" />
          <element minOccurs="1" maxOccurs="1"
                   name="flagID" type="tns:IDType" />
        </sequence>
      </complexType>

      <complexType name="FlagIDListType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded"
                   name="flagID" type="tns:IDType" />
        </sequence>
      </complexType>

      <!-- Method Invocation Elements -->

      <!-- Component -->
      <element name="startComponentInput"
               type="tns:FullyQualifiedComponentIDType" />
      <element name="stopComponentInput"
               type="tns:FullyQualifiedComponentIDType" />
      <element name="getComponentStatusInput"
               type="tns:FullyQualifiedComponentIDType" />

      <!-- Script -->
      <element name="startScriptInput"
               type="tns:FullyQualifiedScriptIDType" />
      <element name="stopScriptInput"
               type="tns:FullyQualifiedScriptIDType" />
      <element name="getScriptStatusInput"
               type="tns:FullyQualifiedScriptIDType" />

      <!-- Provisioning -->
      <element name="getApplicationInput"
               type="tns:IDType" />
      <element name="getCanonicalApplicationInput"
               type="tns:IDType" />
      <element name="listApplicationIDsInput">
        <complexType>
          <sequence></sequence>
        </complexType>
      </element>
      <element name="removeApplicationInput"
               type="tns:RemoveApplicationType" />
      <element name="addComponentInput"
               type="tns:AddComponentType" />
      <element name="removeComponentInput"
               type="tns:RemoveComponentType" />
      <element name="updateComponentInput"
               type="tns:UpdateComponentType" />
      <element name="addHostInput"
               type="tns:AddHostType" />
      <element name="removeHostInput"
               type="tns:RemoveHostType" />
      <element name="updateHostInput"
               type="tns:UpdateHostType" />
      <element name="addScriptInput"
               type="tns:AddScriptType" />
      <element name="removeScriptInput"
               type="tns:RemoveScriptType" />
      <element name="updateScriptInput"
               type="tns:UpdateScriptType" />

      <!-- UtilityService -->
      <element name="startShellInput"
               type="tns:RunShellType" />
      <element name="startFileCopyInput"
               type="tns:RunFileCopyType" />
      <element name="startBackupInput"
               type="tns:RunBackupType" />
      <element name="startRollbackInput"
               type="tns:RunRollbackType" />
      <element name="listDirectoryContentsInput"
               type="tns:ListDirectoryContentsInputType" />
      <element name="listDirectoryContentsOutput"
               type="tns:FilePathListType" />
      <element name="stopUtilityInput"
               type="tns:FullyQualifiedUtilityTokenType" />
      <element name="getUtilityStatusInput"
               type="tns:FullyQualifiedUtilityTokenType" />
      <element name="utilityStatus"
               type="tns:BatchStatusType" />

      <!-- Synchronization -->
      <element name="setFlagInput"
               type="tns:FullyQualifiedFlagIDType" />
      <element name="removeFlagInput"
               type="tns:FullyQualifiedFlagIDType" />
      <element name="removeAllFlagsInput"
               type="tns:IDType" />				<!-- application name -->
      <element name="listFlagsInput"
               type="tns:IDType" />				<!-- application name -->
      <element name="flagIDList"
               type="tns:FlagIDListType" />
    </schema>
  </types>

  <!-- General Messages -->
  <message name="EmptyMsg" />
  <message name="BooleanMsg">
    <part element="tns:boolean" name="value" />
  </message>
  <message name="EACFaultMsg">
    <part element="tns:eacFault" name="fault" />
  </message>
  <message name="ProvisioningFaultMsg">
    <part element="tns:provisioningFault" name="fault" />
  </message>

  <!-- Component Control -->
  <message name="StartComponentInputMsg">
    <part element="tns:startComponentInput" name="startComponentInput" />
  </message>

  <message name="StopComponentInputMsg">
    <part element="tns:stopComponentInput" name="stopComponentInput" />
  </message>

  <message name="GetComponentStatusInputMsg">
    <part element="tns:getComponentStatusInput"
          name="getComponentStatusInput" />
  </message>

  <message name="ComponentStatusMsg">
    <part element="tns:componentStatus" name="status" />
  </message>

  <!-- Script Control -->
  <message name="StartScriptInputMsg">
    <part element="tns:startScriptInput" name="startScriptInput" />
  </message>

  <message name="StopScriptInputMsg">
    <part element="tns:stopScriptInput" name="stopScriptInput" />
  </message>

  <message name="GetScriptStatusInputMsg">
    <part element="tns:getScriptStatusInput"
          name="getScriptStatusInput" />
  </message>

  <message name="ScriptStatusMsg">
    <part element="tns:scriptStatus" name="status" />
  </message>

  <!-- Provisioning -->
  <message name="ApplicationMsg">
    <part element="tns:application"
          name="application" />
  </message>

  <message name="ListApplicationIDsInputMsg">
    <part element="tns:listApplicationIDsInput"
          name="listApplicationIDsInput" />
  </message>

  <message name="GetApplicationInputMsg">
    <part element="tns:getApplicationInput"
          name="getApplicationInput" />
  </message>

  <message name="GetCanonicalApplicationInputMsg">
    <part element="tns:getCanonicalApplicationInput"
          name="getCanonicalApplicationInput" />
  </message>

  <message name="RemoveApplicationInputMsg">
    <part element="tns:removeApplicationInput"
          name="removeApplicationInput" />
  </message>

  <message name="AddComponentInputMsg">
    <part element="tns:addComponentInput"
          name="addComponentInput" />
  </message>

  <message name="RemoveComponentInputMsg">
    <part element="tns:removeComponentInput"
          name="removeComponentInput" />
  </message>

  <message name="UpdateComponentInputMsg">
    <part element="tns:updateComponentInput"
          name="updateComponentInput" />
  </message>

  <message name="AddHostInputMsg">
    <part element="tns:addHostInput"
          name="addHostInput" />
  </message>

  <message name="RemoveHostInputMsg">
    <part element="tns:removeHostInput"
          name="removeHostInput" />
  </message>

  <message name="UpdateHostInputMsg">
    <part element="tns:updateHostInput"
          name="updateHostInput" />
  </message>

  <message name="DefineApplicationMsg">
    <part element="tns:application"
          name="application" />
  </message>

  <message name="ListApplicationIDsMsg">
    <part element="tns:applicationIDList"
          name="applicationIDList" />
  </message>

  <message name="AddScriptInputMsg">
    <part element="tns:addScriptInput"
          name="addScriptInput" />
  </message>

  <message name="RemoveScriptInputMsg">
    <part element="tns:removeScriptInput"
          name="removeScriptInput" />
  </message>

  <message name="UpdateScriptInputMsg">
    <part element="tns:updateScriptInput"
          name="updateScriptInput" />
  </message>

  <message name="ProvisioningWarningsMsg">
    <part element="tns:provisioningWarningList"
          name="provisioningWarnings" />
  </message>

  <!-- UtilityService -->
  <message name="StartShellInputMsg">
    <part element="tns:startShellInput"
          name="startShellInput" />
  </message>

  <message name="StartFileCopyInputMsg">
    <part element="tns:startFileCopyInput"
          name="startFileCopyInput" />
  </message>

  <message name="StartBackupInputMsg">
    <part element="tns:startBackupInput"
          name="startBackupInput" />
  </message>

  <message name="StartRollbackInputMsg">
    <part element="tns:startRollbackInput"
          name="startRollbackInput" />
  </message>

  <message name="ListDirectoryContentsInputMsg">
    <part element="tns:listDirectoryContentsInput"
          name="listDirectoryContentsInput" />
  </message>

  <message name="ListDirectoryContentsOutputMsg">
    <part element="tns:listDirectoryContentsOutput"
          name="listDirectoryContentsOutput" />
  </message>

  <message name="StopUtilityInputMsg">
    <part element="tns:stopUtilityInput"
          name="stopUtilityInput" />
  </message>

  <message name="UtilityStatusMsg">
    <part element="tns:utilityStatus" name="status" />
  </message>

  <message name="TokenMsg">
    <part element="tns:token"
          name="token" />
  </message>

  <message name="GetUtilityStatusInputMsg">
    <part element="tns:getUtilityStatusInput"
          name="getUtilityStatusInput" />
  </message>

  <!-- Synchronization -->
  <message name="SetFlagInputMsg">
    <part element="tns:setFlagInput"
          name="setFlagInput" />
  </message>

  <message name="RemoveFlagInputMsg">
    <part element="tns:removeFlagInput"
          name="removeFlagInput" />
  </message>

  <message name="RemoveAllFlagsInputMsg">
    <part element="tns:removeAllFlagsInput"
          name="removeAllFlagsInput" />
  </message>

  <message name="ListFlagsInputMsg">
    <part element="tns:listFlagsInput"
          name="listFlagsInput" />
  </message>

  <message name="FlagIDListMsg">
    <part element="tns:flagIDList" name="flagIDList" />
  </message>

  <!-- Port Types -->

  <!-- Component Control -->
  <portType name="ComponentControlPort">
    <operation name="startComponent">
      <input message="tns:StartComponentInputMsg"
             name="startComponentRequest" />
      <output message="tns:EmptyMsg" name="startComponentResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="stopComponent">
      <input message="tns:StopComponentInputMsg"
             name="stopComponentRequest" />
      <output message="tns:EmptyMsg" name="stopComponentResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="getComponentStatus">
      <input message="tns:GetComponentStatusInputMsg"
             name="getComponentStatusRequest" />
      <output message="tns:ComponentStatusMsg"
              name="getComponentStatusResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
  </portType>

  <!-- Script Control -->
  <portType name="ScriptControlPort">
    <operation name="startScript">
      <input message="tns:StartScriptInputMsg"
             name="startScriptRequest" />
      <output message="tns:EmptyMsg" name="startScriptResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="stopScript">
      <input message="tns:StopScriptInputMsg"
             name="stopScriptRequest" />
      <output message="tns:EmptyMsg" name="stopScriptResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="getScriptStatus">
      <input message="tns:GetScriptStatusInputMsg"
             name="getScriptStatusRequest" />
      <output message="tns:ScriptStatusMsg"
              name="getScriptStatusResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
  </portType>

  <!-- Provisioning -->
  <portType name="ProvisioningPort">
    <operation name="defineApplication">
      <input message="tns:DefineApplicationMsg"
             name="defineApplicationRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="defineApplicationResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="removeApplication">
      <input message="tns:RemoveApplicationInputMsg"
             name="removeApplicationRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="removeApplicationResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="addComponent">
      <input message="tns:AddComponentInputMsg"
             name="addComponentRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="addComponentResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="removeComponent">
      <input message="tns:RemoveComponentInputMsg"
             name="removeComponentRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="removeComponentResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="updateComponent">
      <input message="tns:UpdateComponentInputMsg"
             name="updateComponentRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="updateComponentResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="addHost">
      <input message="tns:AddHostInputMsg"
             name="addHostRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="addHostResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="removeHost">
      <input message="tns:RemoveHostInputMsg"
             name="removeHostRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="removeHostResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="updateHost">
      <input message="tns:UpdateHostInputMsg"
             name="updateHostRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="updateHostResponse" />
      <fault message="tns:EACFaultMsg" name="eacFault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="getApplication">
      <input message="tns:GetApplicationInputMsg"
             name="getApplicationRequest" />
      <output message="tns:ApplicationMsg"
              name="getApplicationResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="getCanonicalApplication">
      <input message="tns:GetCanonicalApplicationInputMsg"
             name="getCanonicalApplicationRequest" />
      <output message="tns:ApplicationMsg"
              name="getCanonicalApplicationResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="listApplicationIDs">
      <input message="tns:ListApplicationIDsInputMsg"
             name="listApplicationIDsRequest" />
      <output message="tns:ListApplicationIDsMsg"
              name="listApplicationIDsResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="addScript">
      <input message="tns:AddScriptInputMsg"
             name="addScriptRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="addScriptResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="removeScript">
      <input message="tns:RemoveScriptInputMsg"
             name="removeScriptRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="removeScriptResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
    <operation name="updateScript">
      <input message="tns:UpdateScriptInputMsg"
             name="updateScriptRequest" />
      <output message="tns:ProvisioningWarningsMsg"
              name="updateScriptResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
      <fault message="tns:ProvisioningFaultMsg" name="provisioningFault" />
    </operation>
  </portType>

  <!-- Utility Service -->
  <portType name="UtilityPort">
    <operation name="startShell">
      <input message="tns:StartShellInputMsg"
             name="startShellRequest" />
      <output message="tns:TokenMsg"
              name="startShellResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="startFileCopy">
      <input message="tns:StartFileCopyInputMsg"
             name="startFileCopyRequest" />
      <output message="tns:TokenMsg"
              name="startFileCopyResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="startBackup">
      <input message="tns:StartBackupInputMsg"
             name="startBackupRequest" />
      <output message="tns:TokenMsg"
              name="startBackupResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="startRollback">
      <input message="tns:StartRollbackInputMsg"
             name="startRollbackRequest" />
      <output message="tns:TokenMsg"
              name="startRollbackResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="listDirectoryContents">
      <input message="tns:ListDirectoryContentsInputMsg"
             name="listDirectoryContentsRequest" />
      <output message="tns:ListDirectoryContentsOutputMsg"
              name="listDirectoryContentsResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="stop">
      <input message="tns:StopUtilityInputMsg"
             name="stopRequest" />
      <output message="tns:EmptyMsg"
              name="stopResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="getStatus">
      <input message="tns:GetUtilityStatusInputMsg"
             name="getStatusRequest" />
      <output message="tns:UtilityStatusMsg"
              name="getStatusResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
  </portType>

  <!-- Synchronization -->
  <portType name="SynchronizationPort">
    <operation name="setFlag">
      <input message="tns:SetFlagInputMsg"
             name="setFlagRequest" />
      <output message="tns:BooleanMsg"
              name="setFlagResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="removeFlag">
      <input message="tns:RemoveFlagInputMsg"
             name="removeFlagRequest" />
      <output message="tns:EmptyMsg"
              name="removeFlagResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="removeAllFlags">
      <input message="tns:RemoveAllFlagsInputMsg"
             name="removeAllFlagsRequest" />
      <output message="tns:EmptyMsg"
              name="removeAllFlagsResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
    <operation name="listFlags">
      <input message="tns:ListFlagsInputMsg"
             name="listFlagsRequest" />
      <output message="tns:FlagIDListMsg"
              name="listFlagsResponse" />
      <fault message="tns:EACFaultMsg" name="fault" />
    </operation>
  </portType>

  <!-- Bindings -->

  <!-- Component Control -->
  <wsdl:binding name="ComponentControlPortSOAPBinding" type="tns:ComponentControlPort">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startComponent">
      <soap:operation
        soapAction="http://www.endeca.com/esf/startComponent" />
      <wsdl:input name="startComponentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startComponentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopComponent">
      <soap:operation
        soapAction="http://www.endeca.com/esf/stopComponent" />
      <wsdl:input name="stopComponentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="stopComponentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getComponentStatus">
      <soap:operation
        soapAction="http://www.endeca.com/esf/getComponentStatus" />
      <wsdl:input name="getComponentStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getComponentStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Script Control -->
  <wsdl:binding name="ScriptControlPortSOAPBinding" type="tns:ScriptControlPort">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startScript">
      <soap:operation
        soapAction="http://www.endeca.com/esf/startScript" />
      <wsdl:input name="startScriptRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startScriptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopScript">
      <soap:operation
        soapAction="http://www.endeca.com/esf/stopScript" />
      <wsdl:input name="stopScriptRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="stopScriptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getScriptStatus">
      <soap:operation
        soapAction="http://www.endeca.com/esf/getScriptStatus" />
      <wsdl:input name="getScriptStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getScriptStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Provisioning -->
  <wsdl:binding name="ProvisioningPortSOAPBinding"
                type="tns:ProvisioningPort">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="defineApplication">
      <soap:operation
        soapAction="http://www.endeca.com/esf/defineApplication" />
      <wsdl:input name="defineApplicationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="defineApplicationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getApplication">
      <soap:operation
        soapAction="http://www.endeca.com/esf/getApplication" />
      <wsdl:input name="getApplicationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getApplicationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCanonicalApplication">
      <soap:operation
        soapAction="http://www.endeca.com/esf/getCanonicalApplication" />
      <wsdl:input name="getCanonicalApplicationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCanonicalApplicationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listApplicationIDs">
      <soap:operation
        soapAction="http://www.endeca.com/esf/listApplicationIDs" />
      <wsdl:input name="listApplicationIDsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listApplicationIDsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeApplication">
      <soap:operation
        soapAction="http://www.endeca.com/esf/removeApplication" />
      <wsdl:input name="removeApplicationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeApplicationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addComponent">
      <soap:operation
        soapAction="http://www.endeca.com/esf/addComponent" />
      <wsdl:input name="addComponentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addComponentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeComponent">
      <soap:operation
        soapAction="http://www.endeca.com/esf/removeComponent" />
      <wsdl:input name="removeComponentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeComponentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateComponent">
      <soap:operation
        soapAction="http://www.endeca.com/esf/updateComponent" />
      <wsdl:input name="updateComponentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateComponentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addHost">
      <soap:operation
        soapAction="http://www.endeca.com/esf/addHost" />
      <wsdl:input name="addHostRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addHostResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeHost">
      <soap:operation
        soapAction="http://www.endeca.com/esf/removeHost" />
      <wsdl:input name="removeHostRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeHostResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateHost">
      <soap:operation
        soapAction="http://www.endeca.com/esf/updateHost" />
      <wsdl:input name="updateHostRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateHostResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="eacFault">
        <soap:fault use="literal" name="eacFault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addScript">
      <soap:operation
        soapAction="http://www.endeca.com/esf/addScript" />
      <wsdl:input name="addScriptRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addScriptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeScript">
      <soap:operation
        soapAction="http://www.endeca.com/esf/removeScript" />
      <wsdl:input name="removeScriptRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeScriptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateScript">
      <soap:operation
        soapAction="http://www.endeca.com/esf/updateScript" />
      <wsdl:input name="updateScriptRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateScriptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
      <wsdl:fault name="provisioningFault">
        <soap:fault use="literal" name="provisioningFault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- UtilityService -->
  <wsdl:binding name="UtilityPortSOAPBinding"
                type="tns:UtilityPort">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startShell">
      <soap:operation
        soapAction="http://www.endeca.com/esf/startShell" />
      <wsdl:input name="startShellRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startShellResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startFileCopy">
      <soap:operation
        soapAction="http://www.endeca.com/esf/startFileCopy" />
      <wsdl:input name="startFileCopyRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startFileCopyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startBackup">
      <soap:operation
        soapAction="http://www.endeca.com/esf/startBackup" />
      <wsdl:input name="startBackupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startBackupResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startRollback">
      <soap:operation
        soapAction="http://www.endeca.com/esf/startRollback" />
      <wsdl:input name="startRollbackRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startRollbackResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listDirectoryContents">
      <soap:operation
        soapAction="http://www.endeca.com/esf/listDirectoryContents" />
      <wsdl:input name="listDirectoryContentsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listDirectoryContentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stop">
      <soap:operation
        soapAction="http://www.endeca.com/esf/stopUtility" />
      <wsdl:input name="stopRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="stopResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation
        soapAction="http://www.endeca.com/esf/getUtilityStatus" />
      <wsdl:input name="getStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Synchronization -->
  <wsdl:binding name="SynchronizationPortSOAPBinding"
                type="tns:SynchronizationPort">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setFlag">
      <soap:operation
        soapAction="http://www.endeca.com/esf/setFlag" />
      <wsdl:input name="setFlagRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setFlagResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeFlag">
      <soap:operation
        soapAction="http://www.endeca.com/esf/removeFlag" />
      <wsdl:input name="removeFlagRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeFlagResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeAllFlags">
      <soap:operation
        soapAction="http://www.endeca.com/esf/removeAllFlags" />
      <wsdl:input name="removeAllFlagsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeAllFlagsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listFlags">
      <soap:operation
        soapAction="http://www.endeca.com/esf/listFlags" />
      <wsdl:input name="listFlagsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listFlagsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Services -->

  <!-- Component Control -->
  <wsdl:service name="ComponentControlService">
    <wsdl:port binding="tns:ComponentControlPortSOAPBinding"
               name="ComponentControlService">
      <soap:address
        location="http://localhost:8888/eac/ComponentControlService" />
    </wsdl:port>
  </wsdl:service>

  <!-- Script Control -->
  <wsdl:service name="ScriptControlService">
    <wsdl:port binding="tns:ScriptControlPortSOAPBinding"
               name="ScriptControlService">
      <soap:address
        location="http://localhost:8888/eac/ScriptControlService" />
    </wsdl:port>
  </wsdl:service>

  <!-- Provisioning -->
  <wsdl:service name="ProvisioningService">
    <wsdl:port binding="tns:ProvisioningPortSOAPBinding"
               name="ProvisioningService">
      <soap:address
        location="http://localhost:8888/eac/ProvisioningService" />
    </wsdl:port>
  </wsdl:service>

  <!-- UtilityService -->
  <wsdl:service name="UtilityService">
    <wsdl:port binding="tns:UtilityPortSOAPBinding"
               name="UtilityService">
      <soap:address
        location="http://localhost:8888/eac/UtilityService" />
    </wsdl:port>
  </wsdl:service>

  <!-- Synchronization -->
  <wsdl:service name="SynchronizationService">
    <wsdl:port binding="tns:SynchronizationPortSOAPBinding"
               name="SynchronizationService">
      <soap:address
        location="http://localhost:8888/eac/SynchronizationService" />
    </wsdl:port>
  </wsdl:service>

</definitions>